* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    /* background colors */
    --bg-color: rgb(15, 15, 15);
    --primary-text-color: rgb(248, 247, 247);
    --bg-button-color: rgb(37, 37, 37);
    --bg-task-color: rgb(67, 66, 66);
    --bg-delete-button: rgb(253, 61, 61);
    --task-col-border-color: rgb(251, 255, 0);

    /* padding variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;
}

nav {
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: var(--padding-xxl);
}

nav button {
    font-size: var(--padding-l);
    background-color: var(--bg-button-color);
    border: none;
    outline: none;
    padding: var(--padding-m) var(--padding-l);
    color: var(--primary-text-color);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    transition: all 0.3s ease;
}

#toggle-modal:hover {
    /* transform: scale(1.1); */
    background-color: rgb(82, 82, 82);
}

section {
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);
}

section .task-column {
    background-color: var(--bg-button-color);
    flex-grow: 1;
    border-radius: var(--border-radius-m);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
    border: 3px dashed var(--task-col-border-color);
    scale: 1.04;

}


section .task-column .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--padding-xl);
    align-items: center;
}

section .task-column .tasks {
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;
}

section .task-column .tasks button {
    cursor: pointer;
    background-color: var(--bg-delete-button);
    padding: var(--padding-s);
    border: none;
    outline: none;
    border-radius: var(--border-radius-s);
    align-self: flex-end;
    color: var(--primary-text-color);
}

section .task-column .tasks button:active {
    transform: scale(0.95);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(45, 45, 45, 0.462);
    backdrop-filter: blur(5px);
}

.modal .center {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    padding: var(--padding-m);
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--padding-m);
    z-index: 10;
}

.modal .center input,
.modal .center textarea {
    padding: var(--padding-m);
    border-radius: var(--padding-s);
    border: none;
    outline: none;
    background-color: var(--bg-task-color);
    color: var(--primary-text-color);
}

.modal .center button {
    padding: var(--padding-m) var(--padding-m);
    border-radius: var(--padding-s);
    cursor: pointer;
    width: fit-content;
    background-color: var(--bg-task-color);
    border: none;
    color: var(--primary-text-color);
    align-self: center;
}